name: Govulncheck

on:
  push:
  pull_request:
  schedule:
    - cron:  '00 2 * * *'

jobs:
  govulncheck:
    name: Run govulncheck
    runs-on: ubuntu-latest

    steps:
    - id: govulncheck
      uses: golang/govulncheck-action@v1
      with:
        go-version-file: go.mod
